.container_12 {
	MARGIN-LEFT: 4%; WIDTH: 92%; MARGIN-RIGHT: 4%
}
.container_16 {
	MARGIN-LEFT: 4%; WIDTH: 92%; MARGIN-RIGHT: 4%
}
.grid_1 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_2 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_3 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_4 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_5 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_6 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_7 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_8 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_9 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_10 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_11 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_12 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_13 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_14 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_15 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.grid_16 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%
}
.container_12 .grid_3 {
	WIDTH: 23%
}
.container_16 .grid_4 {
	WIDTH: 23%
}
.container_12 .grid_6 {
	WIDTH: 48%
}
.container_16 .grid_8 {
	WIDTH: 48%
}
.container_12 .grid_9 {
	WIDTH: 73%
}
.container_16 .grid_12 {
	WIDTH: 73%
}
.container_12 .grid_12 {
	WIDTH: 98%
}
.container_16 .grid_16 {
	WIDTH: 98%
}
.alpha {
	MARGIN-LEFT: 0px
}
.omega {
	MARGIN-RIGHT: 0px
}
.container_12 .grid_1 {
	WIDTH: 6.33%
}
.container_12 .grid_2 {
	WIDTH: 14.66%
}
.container_12 .grid_4 {
	WIDTH: 31.33%
}
.container_12 .grid_5 {
	WIDTH: 39.66%
}
.container_12 .grid_7 {
	WIDTH: 54.33%
}
.container_12 .grid_8 {
	WIDTH: 62.66%
}
.container_12 .grid_10 {
	WIDTH: 81.33%
}
.container_12 .grid_11 {
	WIDTH: 89.66%
}
.container_16 .grid_1 {
	WIDTH: 4.25%
}
.container_16 .grid_2 {
	WIDTH: 10.5%
}
.container_16 .grid_3 {
	WIDTH: 16.75%
}
.container_16 .grid_5 {
	WIDTH: 29.25%
}
.container_16 .grid_6 {
	WIDTH: 35.5%
}
.container_16 .grid_7 {
	WIDTH: 41.75%
}
.container_16 .grid_9 {
	WIDTH: 54.25%
}
.container_16 .grid_10 {
	WIDTH: 60.5%
}
.container_16 .grid_11 {
	WIDTH: 66.75%
}
.container_16 .grid_13 {
	WIDTH: 79.25%
}
.container_16 .grid_14 {
	WIDTH: 85.5%
}
.container_16 .grid_15 {
	WIDTH: 91.75%
}
.container_12 .prefix_3 {
	PADDING-LEFT: 25%
}
.container_16 .prefix_4 {
	PADDING-LEFT: 25%
}
.container_12 .prefix_6 {
	PADDING-LEFT: 50%
}
.container_16 .prefix_8 {
	PADDING-LEFT: 50%
}
.container_12 .prefix_9 {
	PADDING-LEFT: 75%
}
.container_16 .prefix_12 {
	PADDING-LEFT: 75%
}
.container_12 .prefix_1 {
	PADDING-LEFT: 8.33%
}
.container_12 .prefix_2 {
	PADDING-LEFT: 16.66%
}
.container_12 .prefix_4 {
	PADDING-LEFT: 33.33%
}
.container_12 .prefix_5 {
	PADDING-LEFT: 41.66%
}
.container_12 .prefix_7 {
	PADDING-LEFT: 58.33%
}
.container_12 .prefix_8 {
	PADDING-LEFT: 66.66%
}
.container_12 .prefix_10 {
	PADDING-LEFT: 83.33%
}
.container_12 .prefix_11 {
	PADDING-LEFT: 91.66%
}
.container_16 .prefix_1 {
	PADDING-LEFT: 6.25%
}
.container_16 .prefix_2 {
	PADDING-LEFT: 12.5%
}
.container_16 .prefix_3 {
	PADDING-LEFT: 18.75%
}
.container_16 .prefix_5 {
	PADDING-LEFT: 31.25%
}
.container_16 .prefix_6 {
	PADDING-LEFT: 37.5%
}
.container_16 .prefix_7 {
	PADDING-LEFT: 43.75%
}
.container_16 .prefix_9 {
	PADDING-LEFT: 56.25%
}
.container_16 .prefix_10 {
	PADDING-LEFT: 62.5%
}
.container_16 .prefix_11 {
	PADDING-LEFT: 68.75%
}
.container_16 .prefix_13 {
	PADDING-LEFT: 81.25%
}
.container_16 .prefix_14 {
	PADDING-LEFT: 87.5%
}
.container_16 .prefix_15 {
	PADDING-LEFT: 93.75%
}
.container_12 .suffix_3 {
	PADDING-RIGHT: 25%
}
.container_16 .suffix_4 {
	PADDING-RIGHT: 25%
}
.container_12 .suffix_6 {
	PADDING-RIGHT: 50%
}
.container_16 .suffix_8 {
	PADDING-RIGHT: 50%
}
.container_12 .suffix_9 {
	PADDING-RIGHT: 75%
}
.container_16 .suffix_12 {
	PADDING-RIGHT: 75%
}
.container_12 .suffix_1 {
	PADDING-RIGHT: 8.33%
}
.container_12 .suffix_2 {
	PADDING-RIGHT: 16.66%
}
.container_12 .suffix_4 {
	PADDING-RIGHT: 33.33%
}
.container_12 .suffix_5 {
	PADDING-RIGHT: 41.66%
}
.container_12 .suffix_7 {
	PADDING-RIGHT: 58.33%
}
.container_12 .suffix_8 {
	PADDING-RIGHT: 66.66%
}
.container_12 .suffix_10 {
	PADDING-RIGHT: 83.33%
}
.container_12 .suffix_11 {
	PADDING-RIGHT: 91.66%
}
.container_16 .suffix_1 {
	PADDING-RIGHT: 6.25%
}
.container_16 .suffix_2 {
	PADDING-RIGHT: 16.5%
}
.container_16 .suffix_3 {
	PADDING-RIGHT: 18.75%
}
.container_16 .suffix_5 {
	PADDING-RIGHT: 31.25%
}
.container_16 .suffix_6 {
	PADDING-RIGHT: 37.5%
}
.container_16 .suffix_7 {
	PADDING-RIGHT: 43.75%
}
.container_16 .suffix_9 {
	PADDING-RIGHT: 56.25%
}
.container_16 .suffix_10 {
	PADDING-RIGHT: 62.5%
}
.container_16 .suffix_11 {
	PADDING-RIGHT: 68.75%
}
.container_16 .suffix_13 {
	PADDING-RIGHT: 81.25%
}
.container_16 .suffix_14 {
	PADDING-RIGHT: 87.5%
}
.container_16 .suffix_15 {
	PADDING-RIGHT: 93.75%
}
HTML BODY * SPAN.clear {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
HTML BODY * DIV.clear {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
HTML BODY * LI.clear {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
HTML BODY * DD.clear {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; VISIBILITY: hidden; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '.'
}
.clearfix {
	DISPLAY: inline-block
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
